<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Comment</title>
  </head>
</html>
<body>
  <h1>Add New Comment</h1>
  <h2>Developer Test</h2>
  <p><a href="/dev/comments">Go Back</a></p>
  <form action="/dev/comments" method="POST">
    <div>
      <label for="postId">PostId</label>
      <input type="text" name="postId" id="postId" placeholder="PostId" />
    </div>
    <div>
      <label for="content">Content</label>
      <input type="text" name="content" id="content" placeholder="Content" />
    </div>
    <div>
      <label for="author">Author</label>
      <input type="text" name="author" id="author" placeholder="author" />
    </div>
    <div>
      <label for="isActive">Is Active</label><br />
      <input type="radio" name="isActive" id="isActive" value="true" />
      <label>True</label>
      <br />
      <input type="radio" name="isActive" id="isActive" value="false" />
      <label>False</label>
      <br />
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>
</body>
