.tabs {
  position: fixed;
  top: 48px;
  width: 100%;
  height: 48px;
  z-index: 5;
  background: white;
}

@media screen and (min-width: 600px) {
  .tabs {
    position: fixed;
    top: 64px;
  }
}
