<!-- Author: Christopher Thacker -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Document</title>
</head>
<body>
    <h1>Admin Portal</h1>
    <h2>User Results</h2>
    <h4>Logged in as <%= currentUser.username %></h4>
    <b><a href="/admin">Home</a></b>
    <br>
    <hr />
    <br>
    <div class="reported">Operation was successful!</div>
</body>
</html>