<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item</title>
</head>
<body>
    <h1>Add New Item</h1>
    <h2>Developer Test</h2>
    <p><a href="/items">Go Back</a></p>
    <form action="/items" method="POST">
        <div>
            <label for="itemName">ItemName</label>
            <input type="itemName" name="itemName" id="itemName" placeholder="ItemName">   
        </div>
        <div>
            <label for="URL">URL</label>
            <input type="URL" name="URL" id="URL" placeholder="URL">   
        </div>
        <div>
            <label for="topic">Topic</label>
            <input type="topic" name="topic" id="topic" placeholder="Topic">   
        </div>
        <div>
            <label for="description">Description</label>
            <input type="description" name="description" id="description" placeholder="Description">   
        </div>
      
        <div>
            <button>Submit</button>
        </div>
    </form>
</body>
</html>