<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h1>Add New User</h1>
    <h2>Developer Test</h2>
    <p><b>Note: Your browser may tell you that this webpage exposed your password.<br>That is because it does not hash the password yet and sends it across the wire unencrypted.</b><br><br><b style="color: red;">For now, "password" is not required.</b></p>
    <p><a href="/users">Go Back</a></p>
    <form action="/users" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">   
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">   
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" placeholder="First Name">   
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name">   
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username">   
        </div>
        <div>
            <label for="bio">Biography</label>
            <input type="text" name="bio" id="bio" placeholder="Biography">   
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="number" name="phone" id="phone" placeholder="Phone Number">   
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</body>
</html>