<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Post</title>
  </head>
</html>
<body>
  <h1>Add New Post</h1>
  <h2>Developer Test</h2>
  <p><a href="/dev/posts">Go Back</a></p>
  <form action="/dev/posts" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="Title" />
    </div>
    <div>
      <label for="content">Content</label>
      <input type="text" name="content" id="content" placeholder="Content" />
    </div>
    <div>
      <label for="topic">Topic</label>
      <input type="text" name="topic" id="topic" placeholder="Topic" />
    </div>
    <div>
      <label for="likeCount">LikeCount</label>
      <input type="number" name="likeCount" id="likeCount" placeholder="0" />
    </div>
    <div>
      <label for="author">Author</label>
      <input
        type="text"
        name="author.id"
        id="author.id"
        placeholder="author ID"
      />
      <input
        type="text"
        name="author.username"
        id="author.username"
        placeholder="author username"
      />
      <input
        type="text"
        name="author.avatar"
        id="author.avatar"
        placeholder="author.avatar"
      />
    </div>
    <div>
      <label for="isActive">Is Active</label><br />
      <input type="radio" name="isActive" id="isActive" value="true" />
      <label>True</label>
      <br />
      <input type="radio" name="isActive" id="isActive" value="false" />
      <label>False</label>
      <br />
    </div>
    <div>
      <label for="Spoiler">Spoiler</label><br />
      <input type="radio" name="spoiler" id="spoiler" value="true" />
      <label>True</label>
      <br />
      <input type="radio" name="spoiler" id="spoiler" value="false" />
      <label>False</label>
      <br />
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>
</body>
