<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New List</title>
</head>
<body>
    <h1>Add New List</h1>
    <h2>Developer Test</h2>
    <p><a href="/dev/lists">Go Back</a></p>
    <form action="/dev/lists" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="name" name="name" id="name" placeholder="Name">   
        </div>
        <div>
            <label for="items">Choose Items:</label>
            <select id="items">
                <option value="item1">Item1</option>
                <option value="item2">Item2</option>
                <option value="item3">Item3</option>
                <option value="item4">Item4</option>
            </select>
        </div>
        <div>
            <label for="interest">Interest</label>
            <input type="interest" name="interest" id="interest" placeholder="Interest">   
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" name="author" id="author" placeholder="author" />
        </div>
        <div>
            <label for="isActive">Is Active</label><br />
            <input type="radio" name="isActive" id="isActive" value="true" />
            <label>True</label>
            <br />
            <input type="radio" name="isActive" id="isActive" value="false" />
            <label>False</label>
            <br />
          </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</body>
</html>