<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New List</title>
</head>
<body>
    <h1>Add New List</h1>
    <h2>Developer Test</h2>
    <p><a href="/dev/lists">Go Back</a></p>
    <form action="/dev/lists" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="name" name="name" id="name" placeholder="Name">   
        </div>
        <div>
            <label for="interest">Interest</label>
            <input type="interest" name="interest" id="interest" placeholder="Interest">   
        </div>
        <div>
            <label for="author">Author</label></br>
            <input
              type="text"
              name="authorId"
              id="authorId"
              placeholder="author ID"
            /></br>
          </div>
        <div>
            <label for="isActive">Is Active</label><br />
            <input type="radio" name="isActive" id="isActive" value="true" />
            <label>True</label>
            <br />
            <input type="radio" name="isActive" id="isActive" value="false" />
            <label>False</label>
            <br />
          </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</body>
</html>