<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %>'s servers are running!</p>
    <p>You can access the content on port 3000.</p>
    <div><b>Dev Link: </b><a href="/users">see all users</a></div>
    <div><b>Dev Link: </b><a href="/items">see all items</a></div>
    <div><b>Dev Link: </b><a href="/register">register form</a></div>

  </body>
</html>
