<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %>'s servers are running!</p>
    <p>You can access the content on port 3000.</p>
  </body>
</html>
