<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <h2>Administrator Portal</h2>
    <p><a href="/">Go Back</a></p>
    <form action="/login" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="username" name="username" id="username" placeholder="Username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <button>Login</button>
        </div>
    </form>
</body>
</html>