<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Register</h1>
    <h2>Developer Test</h2>
    <p><a href="/">Go Back</a></p>
    <form action="/register" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">   
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">   
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" placeholder="First Name">   
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name">   
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username">   
        </div>
        <div>
            <label for="bio">Biography</label>
            <input type="text" name="bio" id="bio" placeholder="Biography">   
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="number" name="phone" id="phone" placeholder="Phone Number">   
        </div>
        <div>
            <button>Sign Up</button>
        </div>
    </form>
</body>
</html>