<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div>
        <h1>Register User</h1>
        <h2>Developer Test</h2> 
        <a href="/">Go Back</a>
    </div>
    <div>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>Sign Up</button>
        </form>
    </div>
</body>
</html>