.interests {
  display: flex;
  height: calc(100vh - 124px);
  position: absolute;
  top: 100px;
  bottom: 0;
  right:0;
  left: 0;
}

.interests > .sidebar,
.interests > .content,
.interests > .ads {
  overflow-y: auto;
}

.sidebar,
.ads {
  display: none;
  flex: 1;
}

.content {
  flex: 3;
}

.wrapper {
  padding: 24px 1.2rem;
}


@media screen and (min-width: 768px) {
  .sidebar,
  .ads {
    display: initial;
  }
}
