.interests {
  display: flex;
}

.interests > .sidebar,
.interests > .content,
.interests > .ads {
  overflow-y: auto;
}

.sidebar,
.ads {
  display: none;
  flex: 1;
}

.content {
  flex: 3;
}

.wrapper {
  padding: 64px 1.2rem;
}


@media screen and (min-width: 768px) {
  .sidebar,
  .ads {
    display: initial;
  }

  .interests {
    margin-top: 48px;
  }

  .wrapper {
    padding: 24px 1.2rem;
  }

}
