.lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 10px;
  align-items: center;
}
.list {
  display: flex;
  margin: auto;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}
.title {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
